/target


/config.json
/credentials.json
/.idea
/test.json

/admin-ui/node_modules/
/admin-ui/dist/

/admin-ui/tsconfig.tsbuildinfo
/admin-ui/pnpm-lock.yaml
.claude/
/credentials.*

Cargo.lock
*.json
logs/
data/
temp/
